* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  
}
@font-face {
  font-family:CCOverbyteOffW00-Regular;
  src: url(CCOverbyteOffW00-Regular.ttf);
}

:root{
  --variable-color: #a4a3df;
  --variable-color-sec: #89bdb0;
  --variable-background:#d1e7eb;
  --variable-background-2: #c2d7db;
  --variable-color-hover:#94af8c;
}
/*HEADER*/

header {
  background-color: var(--variable-color);
  padding: 20px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 11px white;

}
nav ul.encabezado {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 200px;
  
}
span:hover{
  color:black;

}
li a {
  font-size: 20px;
  margin: 15px;
  text-decoration: none;
  color: rgb(233, 233, 233);
}

header nav ul .li-contacto {
  background-color:var(--variable-color-sec); 
  border-radius: 25px;
  padding: 10px;
}

header nav ul .li-contacto:hover{
  background-color:black;
}

/*SECCIÓN 1*/

section#hola {
  background-color:#d1e7eb;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  min-height: 100vh;
}

section div.cont-inicio-txt {
  width: 500px;
}
h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: var(--variable-color-sec);
}
#vicky {
  font-size: 65px;
  
  font-weight: bolder;
  color: var(--variable-color);
  font-family: CCOverbyteOffW00-Regular;
}
h2 {
  color:gray;
  margin-bottom: 36px;
  font-size: 18px;
}
.lo-que-hago {
  font-size: 20px;
  background-color:var(--variable-color-sec);
  border-radius: 25px;
  padding: 10px;
  color:rgb(233, 233, 233);
  text-decoration: none;
}

.lo-que-hago:hover{
  background-color: black;
}

section div.cont-imagen {
  max-width: 500px;
}

.img-bio {
width: 100%;
margin-top: 80px;
}

/*SECCIÓN 2*/

section#conocimientos {
  background-color: var(--variable-background-2);
  min-height: 100vh;
}

div.mis-conocimientos-txt {
  text-align: center;
  color: black;
  padding-top: 100px;
  margin-bottom: 20px;
}

h3 {
  color: var(--variable-color);
  font-size: 36px;
  margin-bottom: 20px;
}
div.mis-conocimientos-grid {
  max-height: 100vh;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  margin: auto;
  gap: 15px;
}
.grid-item {
  border: 1px solid rgb(208, 208, 208);
  padding: 60px;
  text-align: center;
  background-color: white;
  border-radius: 5%;
}
.grid-item:hover {
  border: 2px solid var(--variable-color-hover);
}

i {
  font-size: 100px;
}

/*FRASE*/

section#blockquote {
  text-align: center;
  padding: 100px;
  font-size: 24px;
  background-color:var(--variable-background);
  min-height: 90vh;
  display: flex;
}


blockquote {
  font-size: 40px;
  color: var(--variable-color);
  margin: auto;
  justify-content: center;
  align-items: center;
}

blockquote p {
  font-family:CCOverbyteOffW00-Regular;
  font-size: 150px;

}

h4 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
  font-family:CCOverbyteOffW00-Regular;
}

/*SECCIÓN 3*/

section#proyectos {
  background-color: var(--variable-background-2);
  min-height: 100vh;
}
div.poyectos-txt {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
div.proyectos-grid {
  min-height: 100vh;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  margin: auto;
  gap: 15px;

}
div.proyectos-grid div img {
  height: 100%;
  width: 100%;
}

.grid-item-2 {
  background-color: white;
  outline: 1px solid rgb(208, 208, 208);
  border-radius: 5%;
  padding: 60px;
  text-align: center;
}
.grid-item-2:hover {
  border: 2px solid var(--variable-color-sec);
}

/*CONTACTO*/

section#contacto {
  background-color: var(--variable-background);
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  padding-top: 100px;
}

.contenedor-section-4 {
  border: 1px solid rgb(208, 208, 208);
  min-width: 80%;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin: 80px;
}
div.contacto-txt {
  width: 500px;
}

div.contacto-img i {
  font-size: 20px;
  padding: 5px;
  color: var(--variable-color);
}

div.contacto-img i:hover {
  background-color:black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
}
ul.social-media-links li {
  list-style: none;
  padding: 10px 20px;
}

/*Escribime*/

div.escribime-txt {
  width: 500px;
  padding-bottom: 10px;
}
.cont-formulario {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: left;
}

label {
  font-weight: 400;
}
.nombre-y-apellido {
  display: flex;
}
#nombres {
  width: 98%;
}
#apellidos {
  width: 98%;
}
.cont-nombre,
.cont-apellido {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

input {
  background-color: #fbfbfb;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--variable-color-sec);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
input:hover {
  box-shadow: 0 0 11px var(--variable-color-sec);
}

.email input {
  width: 100%;
}

textarea:hover {
  box-shadow: 0 0 11px var(--variable-color-sec);
}
textarea {
  border-radius: 20px;
  border: 1px solid var(--variable-color-sec);
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
}
button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: var(--variable-color);
  border-radius: 10px;
  border:0;
  width: 100px;
  cursor: pointer;
}
button:hover{
  background-color:black;
  color: var(--variable-color);
}

/*FOOTER*/

footer{
  min-height: 60vh;
  background-color: var(--variable-color-sec);
}
.footer-nav{
  display: flex;
  justify-content: center;
  padding: 50px;

}

.footer-nav:hover{
  color: black;
}
footer nav ul li{
  list-style: none;
  margin: 15px;
  
}


.footer-media-links{
  display: flex;
  justify-content:center;
  font-size: 10px;
  
}
.footer-media-links li i{
  font-size: 24px;
  padding: 10px;
  background-color: var(--variable-background);
  border-radius: 50%;
  color: var(--variable-color)

}

.footer-media-links li i:hover{
  background-color: black;
}
footer p {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


@media (min-width: 200px) and (max-width: 600px) {
  footer{
    background-color: red;
  }
}